<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\_extra\_i</code></p>
<ul>
<li><code>FmColorName</code> - <code>yellow-light</code></li>
<li><code>ColorHex</code> - <code>#F5FE9E</code></li>
<li><code>ColorRgb</code> - <code>245,254,158</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5C_extra%5C_i"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-light-48.png" /></a> <em>summary</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C_extra%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C_extra%5C_i%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw/src/master/_extra/_i/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C_extra%5C_i%5C%21i-js-alias.txt"><img src="http://mrobbinsassoc.com/images/icons/md/_txt-16.png" /></a> <code>!i-js-alias.txt</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C_extra%5C_i%5C%21i-react-component-file.txt"><img src="http://mrobbinsassoc.com/images/icons/md/_txt-16.png" /></a> <code>!i-react-component-file.txt</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C_extra%5C_i%5C%21i-urls.txt"><img src="http://mrobbinsassoc.com/images/icons/md/_txt-16.png" /></a> <code>!i-urls.txt</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C_extra%5C_i%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
