<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\_tools</code></p>
<ul>
<li><code>FmColorName</code> - <code>red-dark</code></li>
<li><code>ColorHex</code> - <code>#F43F2A</code></li>
<li><code>ColorRgb</code> - <code>244,63,42</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5C_tools"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-48.png" /></a> <em>summary</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C_tools%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw/src/master/_tools/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C_tools%5Cdo-esdoc-pt%31.bat"><img src="http://mrobbinsassoc.com/images/icons/md/_bat-16.png" /></a> <code>do-esdoc-pt1.bat</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C_tools%5Cdo-esdoc.bat"><img src="http://mrobbinsassoc.com/images/icons/md/_bat-16.png" /></a> <code>do-esdoc.bat</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C_tools%5Cesdoc.json"><img src="http://mrobbinsassoc.com/images/icons/md/_json-16.png" /></a> <code>esdoc.json</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C_tools%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
