<h2 id="readme">README</h2>
<p><code>C:\_\asciiw</code></p>
<ul>
<li><code>FmColorName</code> - <code>gray</code></li>
<li><code>ColorHex</code> - <code>#9999A2</code></li>
<li><code>ColorRgb</code> - <code>153,153,162</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-48.png" /></a> <em>Discount Ascii Warehouse React/Node Demo</em></p>
<h2 id="preface">Preface</h2>
<p>Read <a href="challenge.md" class="uri">challenge.md</a> for specific info on this application demo</p>
<p>Bootstraps from <a href="https://github.com/facebookincubator/create-react-app"><code>create-react-app</code></a>, see <a href="README-bootstrap.md" class="uri">README-bootstrap.md</a></p>
<h3 id="installation">Installation</h3>
<ul>
<li><code>npm install</code> or <code>yarn install</code></li>
</ul>
<h3 id="npm-run-scripts">Npm Run Scripts</h3>
<ul>
<li><p><code>start</code> - Run sass build and watcher, start api server and dev server, watch source changes</p></li>
<li><p><code>start:all</code> - Run sass build and watcher, start api server and dev server, watch source changes</p></li>
<li><p><code>start:dev-html</code> - Start dev server, watch changes</p></li>
<li><p><code>start:api</code> - Start api server</p></li>
<li><p><code>css-build</code> - Sass Build</p></li>
<li><p><code>css-watch</code> - Sass Build and watch</p></li>
<li><p><code>build</code> - Build Sass and App to build directory</p></li>
<li><p><code>test</code> - Run Jest testing</p></li>
<li><p><code>eject</code> - IRREVERSABLE, remove project from <code>create-react-app</code> management</p></li>
</ul>
<h3 id="documentation-locations">Documentation Locations</h3>
<ul>
<li><p>EsDocs - <code>._esdoc</code> output directory, also served at <a href="http://mrobbinsassoc.com/projects/asciiw/esdocs">asciiw EsDocs</a>, <a href="https://bitbucket.org/mindprism/asciiw-esdoc">Repo</a></p></li>
<li><p>Plato - <code>._plato</code> output directory, also served at <a href="http://mrobbinsassoc.com/projects/asciiw/plato">asciiw Plato</a> <a href="https://bitbucket.org/mindprism/asciiw-plato">Repo</a></p></li>
</ul>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw/src/master/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="http://mrobbinsassoc.com/projects/asciiw/plato/files/_index_js/index.html"><img src="http://mrobbinsassoc.com/images/icons/md/plato-16.png" /></a> - plato</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C.assets%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-white-light-16.png" /></a> <code>.assets</code> - Various Assets for tools and site</li>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C.git%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /></a><a href="aip://open/C%3A%5C_%5Casciiw%5C.git%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> <code>.git</code> - Wrapper Repository</li>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C.idea%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-dark-16.png" /></a> <code>.idea</code> - Webstorm Configuration</li>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C._esdoc%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /></a> <code>._esdoc</code></li>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C._plato%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> <code>._plato</code> - Plato Report Output</li>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5Cbuild%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> <code>build</code> - Production Build</li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>coverage</code></li>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5Clib%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-purple-dark-16.png" /></a> <code>lib</code> - Server Library</li>
<li><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-dark-16.png" /> <code>node_modules</code></li>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5Cpublic%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-green-dark-16.png" /></a> <code>public</code> - Public assets</li>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5Csrc%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-cyan-dark-16.png" /></a> <code>src</code> - Main Application</li>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C_extra%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-16.png" /></a> <code>_extra</code></li>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C_tools%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> <code>_tools</code></li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C%21i.txt"><img src="http://mrobbinsassoc.com/images/icons/md/_txt-16.png" /></a> <code>!i.txt</code> - Information Pad, links to <code>_extra/_i/</code> and <code>.scrap/_extra/_i/</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C%21struct.lst"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>!struct.lst</code> - Hierarchy of files</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C%21t.txt"><img src="http://mrobbinsassoc.com/images/icons/md/_txt-16.png" /></a> <code>!t.txt</code> - Taskpad</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C%21w.txt"><img src="http://mrobbinsassoc.com/images/icons/md/_txt-16.png" /></a> <code>!w.txt</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.editorconfig"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>.editorconfig</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.eslintignore"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>.eslintignore</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.eslintrc"><img src="http://mrobbinsassoc.com/images/icons/md/_eslintrc-16.png" /></a> <code>.eslintrc</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.gitignore"><img src="http://mrobbinsassoc.com/images/icons/md/_gitignore-16.png" /></a> <code>.gitignore</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Casciiw.url"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>asciiw.url</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Casciiw.vpj"><img src="http://mrobbinsassoc.com/images/icons/md/_vpj-16.png" /></a> <code>asciiw.vpj</code> - SlickEdit Project</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Casciiw.vpw"><img src="http://mrobbinsassoc.com/images/icons/md/_vpw-16.png" /></a> <code>asciiw.vpw</code> - SlickEdit Workspace</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Cchallenge.md"><img src="http://mrobbinsassoc.com/images/icons/md/_md-16.png" /></a> <code>challenge.md</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Cindex.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-index-16.png" /></a> <code>index.js</code> - Server Entry</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Cpackage.json"><img src="http://mrobbinsassoc.com/images/icons/md/_json-16.png" /></a> <code>package.json</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5CREADME-bootstrap.md"><img src="http://mrobbinsassoc.com/images/icons/md/_md-16.png" /></a> <code>README-bootstrap.md</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/_md-16.png" /></a> <code>README.md</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5CRMF.md"><img src="http://mrobbinsassoc.com/images/icons/md/_md-16.png" /></a> <code>RMF.md</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Cyarn-error.log"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>yarn-error.log</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Cyarn.lock"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>yarn.lock</code></li>
</ul>
