<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\src\services</code></p>
<ul>
<li><code>FmColorName</code> - <code>green-dark</code></li>
<li><code>ColorHex</code> - <code>#40C040</code></li>
<li><code>ColorRgb</code> - <code>64,192,64</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5Csrc%5Cservices"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-green-dark-48.png" /></a> <em>Various Services</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5Csrc%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-cyan-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Cservices%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw/src/master/src/services/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Cservices%5CMultiSortApiFetcher.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>MultiSortApiFetcher.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Cservices%5CMultiSortApiFetcher.test.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>MultiSortApiFetcher.test.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Cservices%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
