<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\.assets</code></p>
<ul>
<li><code>FmColorName</code> - <code>white-light</code></li>
<li><code>ColorHex</code> - <code>#FDFDFD</code></li>
<li><code>ColorRgb</code> - <code>253,253,253</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5C.assets"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-white-light-48.png" /></a> <em>Various Assets for tools and site</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw/src/master/.assets/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<ul>
<li><code>&lt; more-types&gt;</code></li>
</ul>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> <code>esdoc</code> - EsDoc enhancements, css and script</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
