<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\.assets\plato\assets\css</code></p>
<ul>
<li><code>FmColorName</code> - <code>gray-dark</code></li>
<li><code>ColorHex</code> - <code>#7D7D85</code></li>
<li><code>ColorRgb</code> - <code>125,125,133</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5C.assets%5Cplato%5Cassets%5Ccss"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-48.png" /></a> <em>Source Plato Styles</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C.assets%5Cplato%5Cassets%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cplato%5Cassets%5Ccss%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw/src/master/.assets/plato/assets/css/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C.assets%5Cplato%5Cassets%5Ccss%5Cvendor%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> <code>vendor</code> - Source Plato Vender Styles</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cplato%5Cassets%5Ccss%5Cmorris.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>morris.css</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cplato%5Cassets%5Ccss%5Cplato-display.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>plato-display.css</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cplato%5Cassets%5Ccss%5Cplato-file.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>plato-file.css</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cplato%5Cassets%5Ccss%5Cplato-overview.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>plato-overview.css</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cplato%5Cassets%5Ccss%5Cplato.css"><img src="http://mrobbinsassoc.com/images/icons/md/_css-16.png" /></a> <code>plato.css</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cplato%5Cassets%5Ccss%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
