<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\.assets\plato</code></p>
<ul>
<li><code>FmColorName</code> - <code>red-dark</code></li>
<li><code>ColorHex</code> - <code>#F43F2A</code></li>
<li><code>ColorRgb</code> - <code>244,63,42</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5C.assets%5Cplato"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-48.png" /></a> <em>Source Plato Overrides</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C.assets%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-white-light-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cplato%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw/src/master/.assets/plato/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C.assets%5Cplato%5Cassets%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-dark-16.png" /></a> <code>assets</code> - Source Plato styles, fonts and scripts</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cplato%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
