<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\.assets\esdoc\script</code></p>
<ul>
<li><code>FmColorName</code> - <code>black</code></li>
<li><code>ColorHex</code> - <code>#525257</code></li>
<li><code>ColorRgb</code> - <code>82,82,87</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Cscript"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-48.png" /></a> <em>Source EsDoc built-in scripts, and additional scripts plus <code>manual.js</code> custom script</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-red-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Cscript%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw/src/master/.assets/esdoc/script/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Cscript%5Cprettify%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-16.png" /></a> <code>prettify</code> - Source Prettify Code</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Cscript%5Cclipboard.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>clipboard.min.js</code> - Clipboard Copy</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Cscript%5CcontextMenu.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>contextMenu.min.js</code> - Context Menu</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Cscript%5Cjquery-%32.%31.%34.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>jquery-2.1.4.min.js</code> - EsDocs wants</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Cscript%5Cjquery.qtip.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>jquery.qtip.min.js</code> - QTip2 for jQuery</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Cscript%5CloadCSS.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>loadCSS.js</code> - Load CSS file asynch with window.loadCSS(href, before, media, idd)`</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Cscript%5Clscache.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>lscache.min.js</code> - localStorage extension <a href="https://github.com/pamelafox/lscache">lscashe Github</a></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Cscript%5Cmanual.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>manual.js</code> - Mark Robbins EsDoc Enhancements <code>window._</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Cscript%5Cnotify.min.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>notify.min.js</code> - <a href="https://notifyjs.com/">notifyjs.com</a></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Cscript%5ConloadCSS.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>onloadCSS.js</code> - adds onload support for asynchronous stylesheets loaded with <code>loadCSS.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Cscript%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
