<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\lib</code></p>
<ul>
<li><code>FmColorName</code> - <code>purple-dark</code></li>
<li><code>ColorHex</code> - <code>#BE67D5</code></li>
<li><code>ColorRgb</code> - <code>190,103,213</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5Clib"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-purple-dark-48.png" /></a> <em>Server Library</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Clib%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw/src/master/lib/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Clib%5Cget-query-params.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>get-query-params.js</code> - Helper</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Clib%5Chttp-handle-ads.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>http-handle-ads.js</code> - Add Server, <code>placekitten.com</code> 320x200, [r 'random']=0!, returns <code>Location</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Clib%5Chttp-handle-api.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>http-handle-api.js</code> - <code>cool-ascii-faces</code> <code>application/x-json-stream</code> [limit]=10!, [skip]=0!, [sort]=id!||size||price</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Clib%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
