<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\.assets\esdoc\script\prettify</code></p>
<ul>
<li><code>FmColorName</code> - <code>black</code></li>
<li><code>ColorHex</code> - <code>#525257</code></li>
<li><code>ColorRgb</code> - <code>82,82,87</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Cscript%5Cprettify"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-48.png" /></a> <em>Source Prettify Code</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Cscript%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-black-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Cscript%5Cprettify%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw/src/master/.assets/esdoc/script/prettify/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="http://mrobbinsassoc.com/projects/asciiw/esdoc/file/.assets/esdoc/script/prettify/prettify.js.html"><img src="http://mrobbinsassoc.com/images/icons/md/esdoc-16.png" /></a> - esdoc</li>
<li><a href="http://mrobbinsassoc.com/projects/asciiw/plato/files/esdoc_script_prettify_prettify_js/index.html"><img src="http://mrobbinsassoc.com/images/icons/md/plato-16.png" /></a> - plato</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Cscript%5Cprettify%5CApache-License-%32.%30.txt"><img src="http://mrobbinsassoc.com/images/icons/md/_txt-16.png" /></a> <code>Apache-License-2.0.txt</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Cscript%5Cprettify%5Cprettify.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>prettify.js</code> - Library, has css dependency</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.assets%5Cesdoc%5Cscript%5Cprettify%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
