<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\src\api</code></p>
<ul>
<li><code>FmColorName</code> - <code>blue-dark</code></li>
<li><code>ColorHex</code> - <code>#455DAC</code></li>
<li><code>ColorRgb</code> - <code>69,93,172</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5Csrc%5Capi"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-blue-dark-48.png" /></a> <em>Rest Api</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5Csrc%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-cyan-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Capi%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw/src/master/src/api/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Capi%5CNewLineJsonRequester.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>NewLineJsonRequester.js</code> - Rest tool for json responses separated by new lines</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Capi%5CNewLineJsonRequester.test.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>NewLineJsonRequester.test.js</code> - Jest</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Capi%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
