body.short .DisplayGrid{

  margin-top:160px;
  transition:margin-top 500ms;
}
.DisplayGrid{
  text-align:left;
  background-color:#0a0a0a;
  margin-left: auto;
  margin-right: auto;
  margin-top:300px;
  z-index:1;
  border-radius: 26px;
  box-shadow: inset 0 0 20px #222222;
  transition: box-shadow 1s, margin-top 500ms;
  &:hover{
    box-shadow: inset 0 0 20px #333333;
    transition: box-shadow 500ms;
  }
}

