
.GridItem{
  border:1px solid #000000;
  display:inline-block;
  position:absolute;
  text-align:center;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  box-shadow: 6px 6px 8px 0px #000000;
  opacity:0.7;
  overflow:hidden;
  transition: opacity 1s;
  &:hover{
    opacity:1;
    transition: opacity 250ms;
  }
}
