.ItemDetails{
  position:absolute;
  left:10px;
  right:8px;
  margin-top:4px;
  background:linear-gradient(to bottom, #000000, rgba(0,0,0,0));
  display:block;

  span{
    padding:3px;
    margin-top:2px;
    float:right;
    &.itemId{
      font-family:monospace;
      font-size: 10px;
      margin-top:4px;
      color: #444444;
      float:left;
      max-width:100px;
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
    }
    &.itemPrice{
      margin-right:10px;
      text-shadow: 1px 1px 1px #000000;
    }
    &.itemSize{
      margin-right:10px;
      margin-left:10px;
      font-weight:bold;
      text-shadow: 1px 1px 1px #000000;
      &:before{
        content:'size: ';
        position:absolute;
        margin-left:-3em;
        font-family:monospace;
        color: #444444;
        font-weight:normal;
      }
    }
  }
}
