.ItemFace{
  text-align:center;
  margin:8px;
  cursor:default;

}
.itemFaceFace{
  margin-top:0em;
  margin-bottom:0em;
  font-size:3em;
  line-height:2.5em;
  min-height:2.5em;
  overflow: hidden;
  white-space:nowrap;
  user-select: none;
  cursor:default;
}

.itemFaceFrame{
  overflow: hidden;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  cursor:default;
}
