.LoadMoreBar{
  padding:4px;
  background-color: #333333;
  button{
    background-color: #222222;
    color: #888888;
    border: 1px solid #444444;
    cursor: pointer;
    border-radius: 4px;
    width:100%;
    &:hover{
      color: #FFFFFF;
      background-color: #333344;
    }
    &.loading{
      background-color: #000000;
      color: #AAAAAA;
      cursor: default;
    }
    &.loading:hover{
      background-color: #000000;
      color: #AAAAAA;
    }
  }
}
