<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\src\components</code></p>
<ul>
<li><code>FmColorName</code> - <code>cyan</code></li>
<li><code>ColorHex</code> - <code>#78C9FC</code></li>
<li><code>ColorRgb</code> - <code>120,201,252</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5Csrc%5Ccomponents"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-cyan-48.png" /></a> <em>React Components</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5Csrc%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-cyan-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Ccomponents%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw/src/master/src/components/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Ccomponents%5CAdPic.jsx"><img src="http://mrobbinsassoc.com/images/icons/md/_jsx-16.png" /></a> <code>AdPic.jsx</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Ccomponents%5CAppDisplay.jsx"><img src="http://mrobbinsassoc.com/images/icons/md/_jsx-16.png" /></a> <code>AppDisplay.jsx</code> - Wrapper</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Ccomponents%5CAppDisplay.scss"><img src="http://mrobbinsassoc.com/images/icons/md/_scss-16.png" /></a> <code>AppDisplay.scss</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Ccomponents%5CDisplayGrid.jsx"><img src="http://mrobbinsassoc.com/images/icons/md/_jsx-16.png" /></a> <code>DisplayGrid.jsx</code> - Grid for GridItems</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Ccomponents%5CDisplayGrid.scss"><img src="http://mrobbinsassoc.com/images/icons/md/_scss-16.png" /></a> <code>DisplayGrid.scss</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Ccomponents%5CGridItem.jsx"><img src="http://mrobbinsassoc.com/images/icons/md/_jsx-16.png" /></a> <code>GridItem.jsx</code> - Container for ItemFace and ItemDetails</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Ccomponents%5CGridItem.scss"><img src="http://mrobbinsassoc.com/images/icons/md/_scss-16.png" /></a> <code>GridItem.scss</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Ccomponents%5CItemDetails.jsx"><img src="http://mrobbinsassoc.com/images/icons/md/_jsx-16.png" /></a> <code>ItemDetails.jsx</code> - Id, Size, Price</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Ccomponents%5CItemDetails.scss"><img src="http://mrobbinsassoc.com/images/icons/md/_scss-16.png" /></a> <code>ItemDetails.scss</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Ccomponents%5CItemFace.jsx"><img src="http://mrobbinsassoc.com/images/icons/md/_jsx-16.png" /></a> <code>ItemFace.jsx</code> - Wrapper for Face</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Ccomponents%5CItemFace.scss"><img src="http://mrobbinsassoc.com/images/icons/md/_scss-16.png" /></a> <code>ItemFace.scss</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Ccomponents%5CLoadMoreBar.jsx"><img src="http://mrobbinsassoc.com/images/icons/md/_jsx-16.png" /></a> <code>LoadMoreBar.jsx</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Ccomponents%5CLoadMoreBar.scss"><img src="http://mrobbinsassoc.com/images/icons/md/_scss-16.png" /></a> <code>LoadMoreBar.scss</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Ccomponents%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Ccomponents%5CSortBar.jsx"><img src="http://mrobbinsassoc.com/images/icons/md/_jsx-16.png" /></a> <code>SortBar.jsx</code> - Id, Size, Price for AppDisplay</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Ccomponents%5CSortBar.scss"><img src="http://mrobbinsassoc.com/images/icons/md/_scss-16.png" /></a> <code>SortBar.scss</code></li>
</ul>
