body.short .SortBar{
  top:72px;
  transition:top 500ms;
}
.SortBar{
  transition:top 500ms;
  position: fixed;
  top:220px;
  right:20px;
  margin-left:auto;
  margin-right:auto;
  z-index:20;
  button{
    background-color: #222222;
    color: #888888;
    border: 1px solid #444444;
    cursor: pointer;
    &:hover{
      color: #FFFFFF;
      background-color: #333344;
    }
    &.selected{
      background-color: #000000;
      color: #AAAAAA;
      cursor: default;
    }
    &.selected:hover{
      background-color: #000000;
      color: #AAAAAA;
    }
    &.leftCap{
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &.rightCap{
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}
