<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\src\utils</code></p>
<ul>
<li><code>FmColorName</code> - <code>purple-dark</code></li>
<li><code>ColorHex</code> - <code>#BE67D5</code></li>
<li><code>ColorRgb</code> - <code>190,103,213</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5Csrc%5Cutils"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-purple-dark-48.png" /></a> <em>Utilities and Data Containers</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5Csrc%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-cyan-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Cutils%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw/src/master/src/utils/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="http://mrobbinsassoc.com/projects/asciiw/esdoc/file/src/utils/utils.js.html"><img src="http://mrobbinsassoc.com/images/icons/md/esdoc-16.png" /></a> - esdoc</li>
<li><a href="http://mrobbinsassoc.com/projects/asciiw/plato/files/utils_utils_js/index.html"><img src="http://mrobbinsassoc.com/images/icons/md/plato-16.png" /></a> - plato</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Cutils%5CJestHelpers.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>JestHelpers.js</code> - Jest Static class</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Cutils%5CMultiSortObjectCache.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>MultiSortObjectCache.js</code> - Data Container</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Cutils%5CMultiSortObjectCache.test.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>MultiSortObjectCache.test.js</code> - Jest</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Cutils%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Cutils%5Cutils.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>utils.js</code> - Static utility class</li>
</ul>
