<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\.idea\inspectionProfiles</code></p>
<ul>
<li><code>FmColorName</code> - <code>gray</code></li>
<li><code>ColorHex</code> - <code>#9999A2</code></li>
<li><code>ColorRgb</code> - <code>153,153,162</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5C.idea%5CinspectionProfiles"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-48.png" /></a> <em>Various Inspection Profile Configurations</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C.idea%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.idea%5CinspectionProfiles%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw/src/master/.idea/inspectionProfiles/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<ul>
<li><code>&lt;other-profiles.xml&gt;</code></li>
</ul>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.idea%5CinspectionProfiles%5CProject_Default.xml"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>Project_Default.xml</code> - Profile</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.idea%5CinspectionProfiles%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
</ul>
