<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\src\react</code></p>
<ul>
<li><code>FmColorName</code> - <code>cyan-dark</code></li>
<li><code>ColorHex</code> - <code>#4A9EFE</code></li>
<li><code>ColorRgb</code> - <code>74,158,254</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5Csrc%5Creact"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-cyan-dark-48.png" /></a> <em>React Base</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5Csrc%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-cyan-dark-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Creact%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw/src/master/src/react/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<p><em>none</em></p>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Creact%5CBaseComponent.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>BaseComponent.js</code> - Child of <code>BaseMixin</code>, Parent of <code>UiComponent</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Creact%5CBaseMixin.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>BaseMixin.js</code> - Mixin utility</li>
<li><code>BaseMixin</code> Class</li>
<li><code>._autobind</code></li>
<li><code>mixin</code> Function</li>
</ul>
<hr>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Creact%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Creact%5CUiComponent.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>UiComponent.js</code> - Base for Rendered</li>
</ul>
