.App {
  text-align: center;
  .reactTip{
    display:block;
    position:absolute;
    top:5px;
    width:100%;
    color:#888888;
  }
}

.App .__react_component_tooltip.type-dark{
  background-color: #000000;
  border:1px solid #444444;
}
