body.short .AppHeader{
  transition: height 500ms, background-image 1000ms 0ms;
  height:121px;
  background-image:url(./latesunset.png);
}
.AppHeader{
  transition: height 500ms;
  position:fixed;
  top:0;
  z-index:10;
  color: white;
  height:281px;
  background-image:url(./latesunset.png);

  min-width:100vw;
  box-shadow: 0 12px 12px #000000;
  .ads{
    .AdPic{
      opacity:0.6;
      margin-left:-10px;
      border-radius:60px;
      box-shadow: 4px 4px 8px 0 #000000;
      transition:opacity 500ms, margin-left 500ms;
      display:inline-block;
      &:hover{
        transition:opacity 250ms;
        opacity:0.8;
      }
    }
  }
  .App-intro {
    font-size: large;
    color: rgba(255,255,255,0.6);
    text-shadow: 2px 2px 2px #000000;
  }
  .App-logo {
    height: 80px;
    position:absolute;
    top:10px;
    &.right {
      animation: App-logo-spin infinite 20s linear;
      right:-8px;
      top:5px;
    }
    &.left {
      left:10px;
    }
  }
  h1{
    color: #2D2A46;
    text-shadow: 2px 2px 2px #000000;
  }
  h3{
    color: #2D2A46;
    text-shadow: 2px 2px 2px #000000;
  }
}
body.short .App-intro{
  display:none;
}
body.short .ads .AdPic{
  opacity:0;
  pointer-events:none;
  transition:margin-left 500ms,opacity 1s 500ms;
  margin-left:-100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

