//
html{
  background: #000000;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #888888;
  background-color: #000000; }

div[data-react-classx]{
  border:1px solid #888888;
}

#root{
  position:absolute;
  width:100vw;
  min-width:100vw;
  max-width:100vw;
  height:100vh;
  min-height:100vh;
  max-height:100vh;
}
.toastify{
  filter:invert(1) hue-rotate(180deg);
  z-index:10000;
}
