<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\src</code></p>
<ul>
<li><code>FmColorName</code> - <code>cyan-dark</code></li>
<li><code>ColorHex</code> - <code>#4A9EFE</code></li>
<li><code>ColorRgb</code> - <code>74,158,254</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5Csrc"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-cyan-dark-48.png" /></a> <em>Main Application</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw/src/master/src/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
<li><a href="http://mrobbinsassoc.com/projects/asciiw/esdoc/file/src/index.js.html"><img src="http://mrobbinsassoc.com/images/icons/md/esdoc-16.png" /></a> - esdoc</li>
<li><a href="http://mrobbinsassoc.com/projects/asciiw/plato/files/_index_js/index.html"><img src="http://mrobbinsassoc.com/images/icons/md/plato-16.png" /></a> - plato</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5Csrc%5Capi%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-blue-dark-16.png" /></a> <code>api</code> - Rest Api</li>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5Csrc%5Ccomponents%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-cyan-16.png" /></a> <code>components</code> - React Components</li>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5Csrc%5Creact%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-cyan-dark-16.png" /></a> <code>react</code> - React Base</li>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5Csrc%5Cservices%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-green-dark-16.png" /></a> <code>services</code> - Various Services</li>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5Csrc%5Cutils%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-purple-dark-16.png" /></a> <code>utils</code> - Utilities and Data Containers</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5CApp.jsx"><img src="http://mrobbinsassoc.com/images/icons/md/_jsx-16.png" /></a> <code>App.jsx</code> - Main component</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5CApp.scss"><img src="http://mrobbinsassoc.com/images/icons/md/_scss-16.png" /></a> <code>App.scss</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5CApp.test.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>App.test.js</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5CAppHeader.jsx"><img src="http://mrobbinsassoc.com/images/icons/md/_jsx-16.png" /></a> <code>AppHeader.jsx</code> - Main component header</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5CAppHeader.scss"><img src="http://mrobbinsassoc.com/images/icons/md/_scss-16.png" /></a> <code>AppHeader.scss</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Cexternals.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>externals.js</code> - EsDoc Definitions</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Cindex.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-index-16.png" /></a> <code>index.js</code> - App mounter</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Cindex.scss"><img src="http://mrobbinsassoc.com/images/icons/md/_scss-16.png" /></a> <code>index.scss</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Clatesunset.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>latesunset.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Clogo.svg"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>logo.svg</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Cmra-%31%39%32.png"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>mra-192.png</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5Csrc%5Ctypedefs.js"><img src="http://mrobbinsassoc.com/images/icons/md/_js-16.png" /></a> <code>typedefs.js</code></li>
</ul>
