<h2 id="readme">README</h2>
<p><code>C:\_\asciiw\.idea</code></p>
<ul>
<li><code>FmColorName</code> - <code>yellow-dark</code></li>
<li><code>ColorHex</code> - <code>#E6F940</code></li>
<li><code>ColorRgb</code> - <code>230,249,64</code></li>
</ul>
<p><a href="aip://open/C%3A%5C_%5Casciiw%5C.idea"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-yellow-dark-48.png" /></a> <em>Webstorm Configuration</em></p>
<h3 id="local-links">Local Links</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a> - parent</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.idea%5CDesktop.ini"><img src="http://mrobbinsassoc.com/images/icons/md/_ini-16.png" /></a> - ini</li>
</ul>
<h3 id="external-links">External Links</h3>
<ul>
<li><a href="https://bitbucket.org/mindprism/asciiw/src/master/.idea/"><img src="http://mrobbinsassoc.com/images/icons/md/bitbucket-16.png" /></a> - bitbucket</li>
</ul>
<h3 id="anticipates">Anticipates</h3>
<p><em>none</em></p>
<h3 id="folders">Folders</h3>
<ul>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C.idea%5CinspectionProfiles%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a> <code>inspectionProfiles</code> - Various Inspection Profile Configurations</li>
<li><a href="aip://open/C%3A%5C_%5Casciiw%5C.idea%5Cmarkdown-navigator%5CREADME.md"><img src="http://mrobbinsassoc.com/images/icons/md/fm/fm-gray-16.png" /></a> <code>markdown-navigator</code> - Markdown Navigator Profiles</li>
</ul>
<h3 id="files">Files</h3>
<ul>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.idea%5Casciiw.iml"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>asciiw.iml</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.idea%5Cdeployment.xml"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>deployment.xml</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.idea%5Cencodings.xml"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>encodings.xml</code> - <code>file:charset</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.idea%5Cmarkdown-navigator.xml"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>markdown-navigator.xml</code> - MarkdownProjectSettings</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.idea%5Cmisc.xml"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>misc.xml</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.idea%5Cmodules.xml"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>modules.xml</code> - ProjectModuleManager references <code>*.iml</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.idea%5CREADME.html"><img src="http://mrobbinsassoc.com/images/icons/md/_html-16.png" /></a> <code>README.html</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.idea%5Cvcs.xml"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>vcs.xml</code> - VcsDirectoryMappings Git</li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.idea%5CwatcherTasks.xml"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>watcherTasks.xml</code> - File Watchers: <code>Scss Indexer</code> - <code>_tools/styleindexer.bat</code></li>
<li><a href="aip://slickedit/C%3A%5C_%5Casciiw%5C.idea%5CwebServers.xml"><img src="http://mrobbinsassoc.com/images/icons/md/_blank-16.png" /></a> <code>webServers.xml</code></li>
</ul>
